.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper{
    display: flex;
    align-items: center;
}

.heroIcon{
    margin-right: 1rem;
}

.toggle{
    margin: 1rem 1rem;
}

.heartIcon{
    margin-left: 1rem ;
}