section{
    margin-top: 4rem;
}

.gridContainer{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
}

.gridItem{
    margin-top: 20px;
}